:root {
  --main-font: "Roboto";
  --second-font: "Raleway";

  --navy-blue: #2E2F42;
  --ocean-blue: #404BBF;
  --slate-grey: #434455;
  --iris-blue: #4D5AE5;
  --frover-white: #E7E9FC;
  --cloud-white: #F4F4FD;
  --white: #FFFFFF;
}

body {
  margin: 0;
  font-family: var(--main-font);
  font-size: 16px;
  /* line-height: Line-height(24)/font-size(16)=1.5 */
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.h-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn{
  display: inline-block;
  font-family: inherit;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}


.header {
  padding: 24px 0;
  border-bottom: 1px solid var(--frover-white);
}

.header .header-inner {
  display: flex;
  align-items: center;
}

.logotype {
  margin-right: 76px;
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}

.logotype span {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.header .header-menu {
  display: flex;
}

.header .header-menu li {
  margin-right: 40px;
}

.header .header-menu li:last-child{
  margin-right: 0;
}

.header .header-menu a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--navy-blue);
  transition: all 0.3s ease;
}

.header .header-menu a:hover {
  color: var(--ocean-blue);
}

.header .header-social {
  display: flex;
  margin-left: auto;
}

.header .header-social a{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-grey);
}

.header .header-social li{
  margin-right: 40px;
}

.header .header-social li:last-child{
  margin-right: 0;
}

.banner {
  padding: 184px 0;
  text-align: center;
  background: var(--navy-blue);
}

.banner h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.banner button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  margin-top: 48px;
}

.info {
  padding-top: 120px;
}

.info .info-main{
  display: flex;
  gap: 24px;
}

.info .info-block {
  width: 100%;
  max-width: 264px;
}

.info .info-block h3 {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.info .info-block p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-grey);
}

.title-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.doing {
  padding: 120px 0;
}
.doing .doing-photo{
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.team {
  padding: 120px 0;
  background: var(--cloud-white);
}

.team .staff {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.team .staff li {
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding-bottom: 32px;
}

.team .staff h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin: 32px 0 8px;
}

.team .staff p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-grey);
}

.footer {
  padding: 100px 0;
  background: var(--navy-blue);
}

.footer .logotype span {
  color: var(--cloud-white);
}

.footer p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--frover-white);
  width: 100%;
  max-width: 264px;
  margin-top: 16px;
}


/*portfolio*/

.portfolio {
  padding: 96px 0 120px;
}

.portfolio .portfolio-menu{
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio .portfolio-menu li {
  margin: 0 12px;
  padding: 12px 0px;
}

.portfolio .portfolio-menu button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris-blue);

  background: var(--cloud-white);
  padding: 12px 24px;
  border: 1px solid var(--frover-white);
  border-radius: 4px;
  transition: all 0.3s ease;
}

.portfolio .portfolio-menu button:hover {
  background: var(--ocean-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #FFF;
  border: 1px solid transparent;
}

.portfolio .portfolio-menu .portfolio-menu-active {
  background: var(--ocean-blue);
  color: #FFF;
  border: 1px solid transparent;
}

.portfolio .portfolio-item {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio .portfolio-item li {
  padding-bottom: 32px;
  background: var(--white);
  border: 1px solid var(--frover-white);
}

.portfolio .portfolio-item h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin: 32px 0 8px;
  margin-left: 16px;
}

.portfolio .portfolio-item p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-grey);
  margin-left: 16px;
}